*{
    margin: 0;
    padding: 0;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: green;
    transition: width 2s ease-in 0.5s;
}

.box1:hover {
    width: 600px;
}

.box2 {
    height: 100px;
    width: 100px;
    background-color:burlywood;
    margin-top: 10px;
    transform: translate(200px ,200px) rotate(90deg);
}

.box3 {
    height: 100px;
    width: 100px;
    background-color: red;
    transform: skewX(20deg);
}

.box4 {
    height: 100px;
    width: 100px;
    background-color: lightblue;
    box-shadow: 2px 2px 5px green;
    margin-top : 10px;
}