* {
    margin: 0;
    padding: 0;
}

.main {
    height: 180px;
    width: 180px;
    border: 2px solid lightgreen; 
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;

}

.box1 {
    height: 50px;
    width: 50px;
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.box2 {
    height: 50px;
    width: 50px;
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.box3 {
    height: 50px;
    width: 50px;
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    
}

.box4 {
    height: 50px;
    width: 50px;
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.box5 {
    height: 50px;
    width: 50px;
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.box6 {
    height: 50px;
    width: 50px;
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.box7{
    height: 50px;
    width: 50px;
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.box8{
    height: 50px;
    width: 50px;
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}

.box9 {
    height: 50px;
    width: 50px;
    background-color: grey;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
}